/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

.newsletter-text {
     display: none; 
}

.hero { 
    padding-block-start: 10px; 
}

.hero-title { 
    margin-block-end: 25px; 
}




/*-----------------------------------*\
  #RECENT POST
\*-----------------------------------*/

.top-author { display: none; }

.recent { padding-block-start: 15px; }

.recent .section-title .strong { display: block; }

.recent .section-title { margin-block-end: 20px; }

.recent .btn {
  margin-inline: auto;
  margin-block: 50px 30px;
}





/*-----------------------------------*\
  #RECOMMENDED POST
\*-----------------------------------*/

.section.recommended { border-block-end: none; }

.recommended .grid-list {
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.recommended .blog-card { margin-block-end: 5px; }





/*-----------------------------------*\
  #NEWSLETTER
\*-----------------------------------*/

.newsletter { padding-block-start: 40px; }

.newsletter .section-title { margin-block-end: 25px; }





/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

.footer { padding-block: 40px 20px; }

.section.footer-top { border-block-end: none; }

.footer-top {
  display: grid;
  gap: 25px;
}

.footer .logo { margin-block-end: 25px; }

.footer-text {
  font-size: var(--fs-5);
  font-weight: var(--fw-500);
  line-height: 1.4;
}

.footer-list .h5 {
  font-weight: var(--fw-700);
  margin-block-end: 15px;
}

.footer-list-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer-list-item ion-icon {
  font-size: 18px;
  flex-shrink: 0;
}

