/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

.newsletter-text {
     display: none; 
}

.hero { 
    padding-block-start: 10px; 
}

.hero-title { 
    margin-block-end: 25px; 
}




/*-----------------------------------*\
  #RECENT POST
\*-----------------------------------*/

.top-author { display: none; }

.recent { padding-block-start: 15px; }

.recent .section-title .strong { display: block; }

.recent .section-title { margin-block-end: 20px; }

.recent .btn {
  margin-inline: auto;
  margin-block: 50px 30px;
}





/*-----------------------------------*\
  #RECOMMENDED POST
\*-----------------------------------*/

.section.recommended { border-block-end: none; }

.recommended .grid-list {
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.recommended .blog-card { margin-block-end: 5px; }





/*-----------------------------------*\
  #NEWSLETTER
\*-----------------------------------*/

.newsletter { padding-block-start: 40px; }

.newsletter .section-title { margin-block-end: 25px; }




